<div class='the_users'>
<% @event.users.shuffle.each do |user| %>
  <h3><%= user.name %></h3>
<% end %>
</div>


<form class="form-horizontal" role="form" id='search_form'>
  <h3>Add movie options</h3>
  <div class="form-group">
    <div class="col-sm-10">
      <input type="text" class="form-control" id='search_input' placeholder="search for movies by title">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-info" id='search'>SEARCH</button>
    </div>
  </div>
</form>


<form id='start_veto'>
  <input class="btn btn-danger" type='submit' value='START VETOING'>
</form>

<div id='the_options'>
</div>


<div id="option_template" style="display: none;">
  <div class="option">
    <a href="#" class="delete" style='display:none'>VETO</a>
    <h3>Option</h3>
  </div>
</div>

<form id='home_form' style='display:none' action='/winner' method='post'>
  <input id='home' type='hidden' name='title' value=''>
  <input class="btn btn-primary" type='submit' value='HOME'>
</form>

