<h2>Add Options</h2>
<h5>[maybe 2 per person?]</h5>

<form>
  <!-- Search: <input type='search' name=''> -->
  <input type='text' style='width:300px' placeholder="whatcha in the mood for?">
  <input type='submit' id='add_option' value='add'>
</form>

<div id='the_options'>
</div>





<div id="user_template" style="display: none;">
  <div class="option">
    <h3>Option</h3>
    <a href="#" class="delete">Remove</a>
  </div>
</div>