
<form id='search_form'>
  <h2>Add Movie Options</h2>
  <!-- Search: <input type='search' name=''> -->
  <input type='text' style='width:300px' id='search_input' placeholder="search for movies by title">
  <input type='submit' id='search' value='SEARCH'>
</form>

<div id='the_options'>
</div>


<!-- use event -->
<div id="option_template" style="display: none;">
  <div class="option">
    <h3>Option</h3>
    <a href="#" class="delete">Remove</a>
  </div>
</div>
