<div class="container">

  <form id='start_form' action='/events' method='POST'>
    <input type='submit' value='START'>
  </form>

  <form id='user_form' style="display:none" action='/users' method='POST'>
    <h2>Who's watching?</h2>
    <p><input type='text' id='user_input' name='name' style='width:300px' placeholder="put 'em here, one by one"></p>
    <p><input type='submit' value='add user'></p>
  </form>

  <div id='the_users'>
  </div>

  <div id="user_template" style="display: none;">
    <div class="user">
      <h3>Username</h3>
      <a href="#" class="delete">Remove</a>
    </div>
  </div>

  <form id='next_form' action='/add_options' method='get'>
    <input id='next' type='hidden' name='event_id'>
    <input type='submit' value='NEXT'>
  </form>

</div>
