<div class="container">

  <form id='start_form' action='/events' method='POST'>
    <input class="btn btn-primary" type='submit' value='START'>
  </form>

  <form id='user_form' style="display:none" action='/users' method='POST'>
    <h3>Who's watching?</h3>
    <p><input type='text' id='user_input' name='name' style='width:300px' placeholder="put their names here, one by one"></p>
    <p><input class="btn btn-info" type='submit' value='add user'></p>
  </form>

  <div class='the_users'>
  </div>

  <div id="user_template" style="display: none;">
    <div class="user">
      <h4>Username</h4>
      <a href="#" class="delete">Remove</a>
    </div>
  </div>

  <form id='next_form' style="display:none" action='/options' method='get'>
    <input id='next' type='hidden' name='event_id'>
    <input class="btn btn-primary" type='submit' value='ADD OPTIONS'>
  </form>

  <div id='winners'>
    <h4>TODAY'S PICKS</h4>
    <% @winners.reverse.each do |winner| %>
      <p><%= winner.title %></p>
    <% end %>
  </div>

</div>
