<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/options.js"></script>

  <title>MOVIETO</title>
</head>
<body>
  <header><h3>MO<span class='logo_veto'>V</span>I<span class='logo_veto'>ETO</span></h3></header>
  <%= yield %>
</body>
</html>
