<h2>Veto Time</h2>
<h5>[take turns vetoing!]</h5>

<div id='participating_users'>
</div>

<div id='remaining_options'>
</div>





<div id="user_template" style="display: none;">
  <div class="option">
    <h3>Option</h3>
    <a href="#" class="delete">Remove</a>
  </div>
</div>
